name: cocktail_party
description: A new Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  flutter_screenutil: ^5.5.3+2
  dio: ^4.0.6
  flutter_staggered_grid_view: ^0.6.1
  google_fonts: ^3.0.1
  cached_network_image: ^3.2.0
  shimmer: ^2.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^1.0.0


flutter:


  uses-material-design: true

  assets:
    - assets/images/


  fonts:
    - family: Georgia
      fonts:
        - asset: assets/fonts/Georgia.ttf